apsw
argcomplete
attrs
bcrypt
beautifulsoup4
boto3
botocore
bs4
certifi
cffi
charset-normalizer
click
cryptography
cumulus-message-adapter
cumulus-message-adapter-python
dateparser
decorator
docker
exceptiongroup
idna
iniconfig
jmespath
jsonpath-ng
jsonschema
packaging
paramiko
pbr
peewee
pipx
platformdirs
pluggy
ply
psycopg2-binary
py
pycparser
PyNaCl
pyparsing
pyrsistent
pytest
python-dateutil
pytz
regex
requests
s3transfer
six
soupsieve
testresources
tomli
typed-ast
tzlocal
urllib3
userpath
websocket-client
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
